footer {
	padding: 25px 0;
	background-color: #000;
	h2 { 
		width: 9%;
		margin: 0;
		display: inline-block; 
		a{
			display: block;
		}
	}
}

.contact-nav-menu { 
	width: 70%;
	display: inline-block;
	text-align: right;
	li {
		margin: 0 2%;
		display: inline-block;
		a {
			display: block;
			color: #fff;
			font: 700 14px sans-serif;
			text-decoration: none;
			&:hover {
				color: #f73d3d;
			}
		}
	}

}

.social-menu { 
	width: 20%;
	display: inline-block; 
	text-align: right;
	li {
		margin: 0 2%;
		display: inline-block;
		a {
			display: block;
			text-decoration: none;
			&[title="Facebook"] {
				color: #3b5998;
			}
			&[title="Twitter"]{
				color: #55ACEE
			}
			&:hover {
				color: #fff;
			}
		}
	}
}