@import 'https://fonts.googleapis.com/css?family=Orbitron';
@import 'https://fonts.googleapis.com/css?family=Open+Sans';
/* Animation properties */



/* Keyframes */
@keyframes star {
	0% {
		transform: scale(0);
	}
	50% { 
		transform: scale(0.5);
	}
	100% {
		transform: scale(1);
	}
	
}

@keyframes byline {
	0% { transform: translateZ(5em); }
	50% { transform: translateZ(2em); }
	100% { transform: translateZ(1em); }
}

@keyframes dev {
	0% {
		transform: translateX(-400px);
	}
	100% {
		transform: translateX(0%);
	}
}

@keyframes pm {
	0% {
		transform: translateX(-700px);
	}
	100% {
		transform: translateX(0%);
	}
}

@keyframes designer {
	0% {
		transform: translateX(800px);
	}
	100% {
		transform: translateX(0%);
	}
}

@keyframes qa {
	0% {
		transform: translateX(600px);
	}
	100% {
		transform: translateX(0%);
	}
}

/*** Media queries for adjusting to different screen sizes ***/

@media only screen and (max-width: 600px) {
	.starwars-demo {
		font-size: 10px;
	}
}

@media only screen and (max-width: 480px) {
	.starwars-demo {
		font-size: 7px;
	}
}


