.rr-animation{
            position: relative;
            width: 100%;
            height: 500px;
            overflow: hidden;
        }

        .img_up:nth-child(1){
            width: 100%;
            height: 700px;
            animation: _left 35s infinite;
            opacity: 0;
            position: absolute;
            animation-fill-mode: forwards;
        }
        .img_up:nth-child(2){
            width: 100%;
            height: 700px;
            animation: _left1 35s infinite;
            position: absolute;
            animation-fill-mode: forwards;
        }
        .img_up:nth-child(3){
            width: 100%;
            height: 700px;
            animation: _left2 35s infinite;
            position: absolute;
            animation-fill-mode: forwards;
        }
        .img_up:nth-child(4){
            width: 100%;
            height: 700px;
            animation: _left3 35s infinite forwards;
            position: absolute;
        }

        @keyframes _left{
            0%{opacity: 1;
                left: -900px;
            }
            7%{opacity: 0.8;
                left: 0px;
            }
            23%{
                opacity: 0.8;
                left: 0px;
            }
            30%{
                opacity: 0.8;
                left: 900px;
            }

            100%{
                opacity: 0;
                right: 900px;
            }
        }


        @keyframes _left1{
            0%{opacity: 1;
                left: -900px;
            }
            23%{
              left: -900px;
            }
            30%{
                opacity: 0.8;
                left: 0px;
            }48%{
                opacity: 0.8;
                left: 0px;
            }
            55%{
                opacity: 0.8;
                left: 900px;
                }

            100%{
                opacity: 0.8;
                left: 900px;
            }
        }

    @keyframes _left2{
            0%{opacity: 1;
                left: -900px;
            }
            48%{
                opacity: 0.8;
                left: -900px;
            }
            55%{
                opacity: 0.8;
                left: 0px;
            }
            73%{
                opacity: 0.8;
                left: 0px;
            }80%{
                opacity: 0.8;
                left: 900px;           
            }
            100%{
                opacity: 0.8;
                left: 900px;
            }
        }
         @keyframes _left3{
            0%{opacity: 1;
                left: -900px;
            }
            73%{
                opacity: 0.8;
                left: -900px;
            }
            80%{
                opacity: 0.8;
                left: 0px;
            }
            100%{
                opacity: 0.8;
                left: 0px;
            }
        }
.face1,
.face2,
.face3,
.face4,
.face5,
.face6{ overflow: hidden; }


.rr-animation:hover{
       .img_up:nth-child(1){ -webkit-animation-play-state:paused; }
       .img_up:nth-child(2){ -webkit-animation-play-state:paused; }
       .img_up:nth-child(3){ -webkit-animation-play-state:paused; }
       .img_up:nth-child(4){ -webkit-animation-play-state:paused; }
}

.img_up:nth-child(2):hover,
.img_up:nth-child(3):hover,
.img_up:nth-child(4):hover  {

}

            .stage {     
                 display: block;
                 margin-left: 190px;
                 margin-top: 75px;
                 }

            @-webkit-keyframes spincube {
	from,to  { -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
	16%      { -webkit-transform: rotateY(-90deg);                           }
	33%      { -webkit-transform: rotateY(-90deg) rotateZ(90deg);            }
	50%      { -webkit-transform: rotateY(-180deg) rotateZ(90deg);           }
	66%      { -webkit-transform: rotateY(-270deg) rotateX(90deg);           }
	83%      { -webkit-transform: rotateX(90deg);                            }
}

@keyframes spincube {
	from,to {
		-moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		-ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	}
	16% {
		-moz-transform: rotateY(-90deg);
		-ms-transform: rotateY(-90deg);
		transform: rotateY(-90deg);
	}
	33% {
		-moz-transform: rotateY(-90deg) rotateZ(90deg);
		-ms-transform: rotateY(-90deg) rotateZ(90deg);
		transform: rotateY(-90deg) rotateZ(90deg);
	}
	50% {
		-moz-transform: rotateY(-180deg) rotateZ(90deg);
		-ms-transform: rotateY(-180deg) rotateZ(90deg);
		transform: rotateY(-180deg) rotateZ(90deg);
	}
	66% {
		-moz-transform: rotateY(-270deg) rotateX(90deg);
		-ms-transform: rotateY(-270deg) rotateX(90deg);
		transform: rotateY(-270deg) rotateX(90deg);
	}
	83% {
		-moz-transform: rotateX(90deg);
		-ms-transform: rotateX(90deg);
		transform: rotateX(90deg);
	}
}

.cubespinner {
	-webkit-animation-name: spincube;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 12s;

	animation-name: spincube;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 12s;

	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;

	-webkit-transform-origin: 60px 60px 0;
	-moz-transform-origin: 60px 60px 0;
	-ms-transform-origin: 60px 60px 0;
	transform-origin: 60px 60px 0;
}

.cubespinner div {
	width: 120px;
	height: 120px;
	border: 1px solid #ccc;
	position: absolute;
	background: rgba(255,255,255,0.8);
	font-size: 100px;
	box-shadow: inset 0 0 20px rgba(0,0,0,0.2);
	line-height: 120px;
	text-align: center;
}

.cubespinner .face1 {
	-webkit-transform: translateZ(60px);
	-moz-transform: translateZ(60px);
	-ms-transform: translateZ(60px);
	transform: translateZ(60px);
}
.cubespinner .face2 {
	-webkit-transform: rotateY(90deg) translateZ(60px);
	-moz-transform: rotateY(90deg) translateZ(60px);
	-ms-transform: rotateY(90deg) translateZ(60px);
	transform: rotateY(90deg) translateZ(60px);
}
.cubespinner .face3 {
	-webkit-transform: rotateY(90deg) rotateX(90deg) translateZ(60px);
	-moz-transform: rotateY(90deg) rotateX(90deg) translateZ(60px);
	-ms-transform: rotateY(90deg) rotateX(90deg) translateZ(60px);
	transform: rotateY(90deg) rotateX(90deg) translateZ(60px);
}
.cubespinner .face4 {
	-webkit-transform: rotateY(180deg) rotateZ(90deg) translateZ(60px);
	-moz-transform: rotateY(180deg) rotateZ(90deg) translateZ(60px);
	-ms-transform: rotateY(180deg) rotateZ(90deg) translateZ(60px);
	transform: rotateY(180deg) rotateZ(90deg) translateZ(60px);
}
.cubespinner .face5 {
	-webkit-transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px);
	-moz-transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px);
	-ms-transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px);
	transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px);
}
.cubespinner .face6 {
	-webkit-transform: rotateX(-90deg) translateZ(60px);
	-moz-transform: rotateX(-90deg) translateZ(60px);
	-ms-transform: rotateX(-90deg) translateZ(60px);
	transform: rotateX(-90deg) translateZ(60px);
}
