/* Position Mixin Indexing n values
1 - position,
2 - bottom,
3 - left,
4 - right,
5 - top,
6 - z-index.
*/


@mixin codecop($n1,$value1,$n2,$value2,$n3,$value3,$n4,$value4) {
	#{nth($codecop,$n1)}: #{$value1};
	#{nth($codecop,$n2)}: #{$value2};
	#{nth($codecop,$n3)}: #{$value3};
	#{nth($codecop,$n4)}: #{$value4};
}



@mixin pos($n1,$value1,$n2,$value2,$n3,$value3,$n4,$value4) {
	#{nth($position,$n1)}: #{$value1};
	#{nth($position,$n2)}: #{$value2};
	#{nth($position,$n3)}: #{$value3};
	#{nth($position,$n4)}: #{$value4};
}

@mixin fontstyle($font_weight, $font_size, $line_height,$font_family, $color){   
    color: $color;
    font-weight: $font_weight;
    font-size: $font_size;
    line-height: $line_height;
    font-family: $font_family;
}

@mixin block_box($width, $display, $vertical-align){
	width: $width;
	display: $display;
	vertical-align: $vertical-align;
}

@mixin padding($top, $right, $bottom, $left){
   padding: $top $right $bottom $left;
}

@mixin margin($top, $right, $bottom, $left){
   margin: $top $right $bottom $left;
}

@mixin border_position($border-radius, $border, $position){
   border-radius: $border-radius;
   border: $border;
   position: $position;
}