/* Author - Pravin Chukkala */
/* CSS Code Cop Properties Indexing For Using in Mixin's */
//---------1-------2---------3--------4---------5---------6----
$codecop: " " "box-sizing" "width" "height" "padding" "border" 

//-----7-----------8---------9---------10---------11----
"border-radius" "margin" "display" "overflow" "position" 

//--12-------13------14-----15-----16-----17------18---------19----
"z-index" "bottom" "left" "right" "top" "float" "clear" "background" 

//20----- 21-------22------------23-----------------24----------
"color" "font" "text-align" "text-decoration" "text-transform" 

//--25----------26-----------27-------------28-----------------29-----------
"transition" "transform" "animation" "animation-delay" "animation-fill-mode";


$position: "position" "bottom" "left" "right" "top" "z-index";
$font-arial: arial;
$cn-width: 100%;
$wrapper: 95%;
$trns: transparent;

@function wd-calc($ch-width){
	@return ($pr-width/$ch-width);
}




