// Home Page Slider

.slider-heading {
	padding-top:80px;
	h2 {
		@include codecop(8,"0",21,700 46px $font-arial,22,"center",24,"uppercase");
	}
	h2:after {
		content: " ";
		width: 10%;
		margin: 0 auto;
		display: block;
		border-bottom: 3px solid #00a1f1;
	}
}


#thumbnail-slider {
	box-sizing:border-box;
	width:100%;
	max-width:1024px;
	padding:0;
	margin:0 auto; /*center-aligned*/
	position:relative;
	-webkit-user-select: none;

	div.inner {    
		/*the followings should not be changed */
		padding:0;
		margin:0;
		position:relative;
		overflow:hidden;

		ul {    
			/*the followings should not be changed */
			width:auto!important;
			height:auto!important;
			padding:0;
			margin:0;
			position:relative;
			left:0; 
			top:0;
			float:left!important;
			list-style:none;
			white-space:nowrap;

			li {
				box-sizing:content-box;
				padding:0;
				margin:20px -30px 90px;
				display:inline-block;
				position:relative;
				backface-visibility:hidden;
				list-style:none;
				-webkit-transform:scale(0.9);
				transform:scale(0.9); /*Note: The scale down will increase the spacing between slides. You can set negative margins as did above to roll back the spacing. */
				-webkit-transition:-webkit-transform 0.5s;
				transition:transform 0.5s;
				text-align:center;
				vertical-align:middle;
			}

			li.active {
				webkit-transform:scale(1.15); 
				transform:scale(1.15); /*Note: if scale is greater than 1, the margin-top and margin-bottom in the selector "#thumbnail-slider li" must be set with a sufficient value so the enlarged image will be shown within the margins.*/
				background-color:transparent;
			}
		}
	}

	.thumb {
		width:100%;
		height: 100%;
		padding: 10px 0 0 0;
		display:block;
		background-size:60%;
		background-repeat:no-repeat;
		background-position:center center;
		position:absolute;
		text-decoration: none;
		cursor:inherit;
		-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent), to(rgba(255,255,255,0.4)));
		transition:all linear 0.4s;
		-webkit-transform: perspective(500px) translateX(1px) translateZ(-30px) rotateY(30deg);
		transform: perspective(500px) translateX(1px) translateZ(-30px) rotateY(30deg);
	}

	.active .thumb {
		-webkit-transform: translateX(0px) translateZ(0px) rotateY(0deg); 
		transform: translateX(0px) translateZ(0px) rotateY(0deg); 
	}

	li.active ~ li .thumb {
		-webkit-transform: perspective(500px) translateX(-1px) translateZ(-30px) rotateY(-30deg); 
		transform: perspective(500px) translateX(-1px) translateZ(-30px) rotateY(-30deg); 
	}

}

#thumbnail-slider-pause-play {display:none;} /*.pause*/
#thumbnail-slider-prev, #thumbnail-slider-next {display:none;}

.award {
	width: 100%;
	position:absolute;
	bottom:80px;

	span{
		@include codecop(9,"block",21,700 18px $font-arial,20,"#000",1,"");
	}
}

// Trainee Page Slider

.tr-score {
	box-sizing:border-box;
	width:100%;
	margin-top:60px;

	.slider_wrapper {
		position:relative;
		top:auto;
		background:url(../images/web_developer.jpg) no-repeat;
		background-size:100% 100%;
		overflow: hidden;
	}

	#image_slider {
	box-sizing:border-box;
		padding:45px 0;
		margin:0px;
		position: relative;
		float: left;
		list-style: none;
		overflow: hidden;

		li {
			width:1219px;
			height: auto;
			position: relative;
			float: left;
		}
	}

}

// Mock Call slider
#slides {
	position: relative;
	height: 190px;
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

.slide {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 1;
animation: rotateslide 1s linear;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}

@keyframes rotateslide {
    0% {}
    90% { background-color: black;  }
    100% {
        transform: rotateY(30deg);
        background-color: white;
    }
}

.showing {
	opacity: 1;
	z-index: 2;
	animation: rotatex 1.2s linear;
    animation-delay: 4s;
    transform-origin: left;
}

@keyframes rotatex {
    0% {  }
    40% {
        transform: scale(0.8);
    }
    90% { transform: translateX(-100%); }
    100% {
        opacity: 0;
    }
}