$font-family: Arial;
$size: 1.5em;
$font-weight: 700;
$padding: 30px;
$cn-width: 100%;
$wrapper: 95%;
$trns: transparent;
$display: inline-block;
$center: center;
$margin-top: 10%;
$width: 100%;
$margin-left: 2%;
$white: #fff;
$black: rgba(0, 0, 0, 0.52);