@import 'reset';
@import 'partial';
@import 'header';
@import 'homeanm';

/*
1 - "",
2 - box-model,
3 - width,
4 - height,
5 - padding,
6 - border,
7 - border-radius,
8 - margin,
9 - display,
10 - overflow,
11 - position,
12 - z-index,
13 - bottom,
14 - left,
15 - right,
16 - top,



*/


/*====================================================================================
1. Index page
======================================================================================*/

/*====================================================================================
Main Styling
======================================================================================*/


.designation {
	@include codecop(8,"10px 0 30px",22,"center",1,"",1,"");

	&>div {
		@include codecop(3,"20%",8,"0 2%",9,"inline-block",1,"");

		div { @include codecop(3,"100%",7,"125px",8,"0 0 20px 0",9,"inline-block");	}
		span {  @include codecop(9,"block",20,"#fff",21,"700 21px Arial",1,""); }
	}
}

.banner{
	background: url(../images/IMG_20161014_120734.jpg) no-repeat;
	background-size: 100% 100%;
	.wrapper { @include codecop(5,"30px 0",6,"1px solid transparent",1,"",1,""); }
}

.byline,
.star,
.developers { color: #333; }

.star{	
	max-width: 850px;
	margin: 0 auto;
	@include codecop(8,"20px 0 40px",9,"inline-block",21,"16px 'Open Sans', sans-serif",27,"star 2s linear"); 

}

.byline { @include codecop(8,"30px 0 0 0", 27, "byline 2s linear", 26, "scale(1)",1,""); }

/* Make the 3D work on the container */
.starwars-demo {
	perspective: 800px;
	transform-style: preserve3d;
	-webkit-transform-style: preserve3d;
}

/* General styles and layout */

.starwars-demo { text-align: center; }
.byline span { @include codecop(8,"50px 0 0 0",9,"inline-block",1,"",1,""); }
img { width: 100%; }

.byline,
.developers {
	@include codecop(1,"",22,"center",1,"",1,"");
}

.byline {
	@include codecop(1,"",24,"uppercase",1,"",1,"");
	letter-spacing: 0.3em;
}

.developers { @include codecop(27,"dev 0.4s linear", 28,"3.5s", 1,"",1,""); }
.project-manager { @include codecop(27,"pm 0.4s linear", 28,"3s", 1,"",1,""); }
.designer { @include codecop(27,"designer 0.4s linear", 28,"2.5s", 1,"",1,""); }
.qa { @include codecop(27,"qa 0.4s linear", 28,"2s", 1,"",1,""); }

.developers,
.project-manager,
.designer,
.qa {
	animation-fill-mode: both;
	overflow: hidden;
}


h2 { 
	@include codecop(8,"0 0 100px",21,"700 35px Arial",22,"center",24,"uppercase");
	span { border-bottom: 3px solid #333; }
}

.control_next,
.control_prev {
	@include codecop(8,"170px 0 50px",19,"#d19083",20,"#000",21,"50px Arial");
	text-decoration: none;
}

.control_next {	float: left; }
.control_prev { float: right; }

// Slider
// 

.slider-content { padding: 150px 0; }

.slider-class  { 
	text-align: center;
	li {
		@include codecop(2,"border-box",3,"26%",8,"2%",9,"inline-block");
		img { 
			@include codecop(3, "75%",8,"0 0 15px",1,"",1,"");
		}
		span {
			@include codecop(9,"inline-block",21,"700 18px Arial",1,"",1,"");
		}
	}

	& li:nth-child(2) {
		transform: scale(1.5);
	}
}

/*============================================================================
2. Trainee Page
============================================================================*/
/* Position Mixin Indexing n values
1 - position,
2 - bottom,
3 - left,
4 - right,
5 - top,
6 - z-index.
*/

.trainee-profile {
	padding: 50px 0 20px;
	div:first-child {
		width: 25%;
		border: 1px solid black;
		border-radius: 140px;
		display: inline-block;
		overflow: hidden;
		img { width: 100%; }
	}
}

.trainee-desc {
	width: 30%;
	margin: 20px 4% 0;
	display: inline-block;
	vertical-align: top;
	.tr-name { 
		display: block;
		font: 700 30px Arial; 
	}
	.title { 
		width: 40%;
		display: inline-block;
		font: 700 15px Arial;  
	}
	span {
		font: 15px Arial;  
	}
}


.tr-control {
	width: 36%;
	height: 250px;
	display: inline-block;
	background-color: #444;
	vertical-align: top;
	
}

progress { width: 100%; }

.progress { 
	border-radius: 100%;
	text-align: center; 
}

.test-score { 
	width: 50%;
	margin: 40px -1px;
	display: inline-block;
}

.feedbacks {
	width: 50%;
	margin: 40px -1px;
	border-radius: 8px;
	display: inline-block;
	background-color: #ddd;
	text-align: center;

	h2 { 
		font: 700 25px Arial;
		margin: 20px 0;
	}
	label { 
		margin: 10px 0; 
		display: inline-block;
		font: 16px Arial;
	}
	.dev-area {
		width: 45%;
		margin: 2%;
		display: inline-block;
		textarea { width: 100%; }
	}
}

.prev-next {
	margin: 0 0 50px;
	padding: 10px 0 50px;
	a {
		padding: 5px 10px;
		border: 1px solid #ddd;
		border-radius: 5px;
		color: #000;
		text-transform: capitalize;
		text-decoration: none;
		&:hover { 
			background-color: #ddd;
		}
	}
}

.previous { float: left; }

.next { float: right;}

.test-score{
	div { 
		width: 48%;
		display: inline-block; 
	}
}

.pie {
	padding: 28% 8%;
	margin: 0 0 19%;
	border-radius: 50%;
	background: yellowgreen;
	background-image: linear-gradient(to right, transparent 50%, #655 0);
}

.pie::before {
	content: '';
	display: block;
	margin-left: 50%;
	height: 100%;
	border-radius: 0 100% 100% 0 / 50%;
	background-color: inherit;
	transform-origin: left;
	transform: rotate(60deg);
}

/* Footer Styling*/
@import 'footer';