@import 'reset.scss';
@import 'partial.scss';
@import 'header.scss';
@import 'mixin';

.wrapper {
	.rules {
		@include block-box(55%, inline-block, top);
		border-right: 1px solid #a3a3a3;
		li {
			@include fontstyle(500,18px,24px,'Open Sans',#0e0e0e);
			list-style: none;
            margin-left: 15px;
		}
		.web {
			@include margin(20px, auto, 10px, auto);
            display: inline-block;
			@include fontstyle(700,24px,28px,'Open Sans',red);
		}
		h2{
			@include fontstyle(700,38px,50px,'Open Sans',#0e0e0e);
			margin-top: 30px;
            text-align: center;
		}
	}
	.login-section {
		@include block-box(40%, inline-block, top);
		text-align: center;
		.login {
			   margin-top: 30px;
			   display: block;
			   @include fontstyle(700,38px,50px,'Open Sans',#0e0e0e);
		}
	}
}

.details {
	text-align: left;
   .input-box {
   	   @include block_box(80%, block, top);
   	   @include padding(8px, 10px, 8px, 12px);
   	   @include margin(10px, auto, 20px, auto);
   }
   .btn{
   	@include block_box(85%, block, top);
   	@include padding(11px, 14px, 13px, 27px);
   	@include margin(4px, auto, 13px, auto);
   	@include border_position(0px, 0, relative);
    background-color: #00a1f1;
    @include fontstyle(400,19px,19px,'Open Sans',white);
   }
}
#error{
	@include margin(0px, 0px, 0px, 34px);
	@include fontstyle(400,19px,19px,'Open Sans',red);
}

@import 'log_animation';

@import 'homeanm';
@import 'footer';