main{ margin-top: 50px; }
#average { 
	margin: 30px 0;
	font-size: 18px;
	text-align: center;
}

.fa-power-off { 
	background-color: white;
	border: none;
}
.index main{ margin-top: 0px;}

.rules{
	h2{ margin:0px; }
}

.rr-animation{ 
	width: 95%;
	margin: 0 auto;
}

.wrapper {
	.rules {
		@include block-box(55%, inline-block, top);
		border-right: 1px solid #a3a3a3;
		li {
			@include fontstyle(300,18px,24px,'Open Sans',#3d3d3d);
			@include margin(12px, 24px, 0px, 30px);
		}
		.web {
			@include margin(20px, auto, 10px, auto);
			display: inline-block;
			@include fontstyle(700,24px,28px,'Open Sans',#3d3d3d);
		}
		h2{
			@include fontstyle(700,40px,50px,'Open Sans',#3d3d3d);
			margin-top: 30px;
			text-align: center;
		}
	}
	.login-section {
		@include block-box(40%, inline-block, top);
		text-align: center;
		.login {
			@include margin(27px, auto, 23px, auto);
			display: block;
			@include fontstyle(700,40px,50px,'Open Sans',#3d3d3d);
		}
	}
}

.details {
	text-align: left;
	.input-box {
		@include block_box(80%, block, top);
		@include padding(8px, 10px, 8px, 12px);
		@include margin(10px, auto, 20px, auto);
	}
	.btn{
		@include block_box(85%, block, top);
		@include padding(11px, 14px, 13px, 27px);
		@include margin(4px, auto, 13px, auto);
		@include border_position(0px, 0, relative);
		background-color: #00a1f1;
		@include fontstyle(400,19px,19px,'Open Sans',white);
	}
}
#error{
	@include margin(0px, 0px, 0px, 34px);
	@include fontstyle(400,19px,19px,'Open Sans',red);
}

#circle-0{
	background-color: rgba(255, 0, 0, 0.78);
}

#circle-1{
	background-color: yellow;
}

#circle-2{
	background-color: rgba(0, 128, 0, 0.74);
}

header { z-index: 10; }

#progress,
#progress1,
#progress2 { width: 0%;}

@import 'log_animation';

@import 'homeanm';
@import 'footer';