 <!-- footer start here -->
 <div class="footer">
   <div class="wrapper">
      <h2 class="footer-logo">
         <a href="index.html" title="PRDXN">
            <img src="assets/images/logo-white.png">
         </a>
      </h2>
      <div class="footer-links">
         <ul id="footer-menu" class="footer-menu">
            <li class="footer-menu-item">
               <a href="#FIXME" title="Home">
                  Home
               </a>
            </li>
            <li class="footer-menu-item">
               <a href="#FIXME" title="Work">
                  Work
               </a>
            </li>
            <li class="footer-menu-item">
               <a href="#FIXME/" title="Services">
                  Services
               </a>
            </li>
            <li class="footer-menu-item">
               <a href="#FIXME" title="Careers">
                  Carrers
               </a>
            </li>
            <li class="footer-menu-item">
               <a href="#FIXME" title="People" >
                  People
               </a>
            </li>
            <li class="footer-menu-item">
               <a href="#FIXME" title="Blog">
                  Blog
               </a>
            </li>
         </ul>
      </div>

      <div class="footer-connect">
         <div class="footer-contact">
            <ul id="menu-contact" class="contact-nav-menu cf">
               <li id="contact-tel-1" class="contact-item-tel-1">
                  <a href="tel:+19175121756" title="+19175121756">
                     +1 917 512 1756
                  </a>
               </li>
               <li id="contact-tel-2" class="contact-item-tel-2">
                  <a href="tel:+919833805246">
                     +91 983 380 5246
                  </a>
               </li>
               <li id="contact-menu-item-3" class="contact-item-email">
                  <a target="_blank" href="#FIXME">workwithus@prdxn.com
                  </a>
               </li>
            </ul>
         </div>

         <!-- social icon starts here -->
         <div class="footer-social">
            <ul id="social-id" class="social-menu">
               <li id="sicon-facebook" class="facebook">
                  <a href="#FIXME" title="Facebook" target="_blank">
                     Facebook
                  </a>
               </li>

               <li id="sicon-twitter" class="twitter">
                  <a href="#FIXME" title="Twitter" target="_blank">
                     Twitter
                  </a>
               </li>
            </ul>
         </div>
         <!-- social icon ends here -->
      </div>
   </div>
</div>
<!-- footer ends here -->
</div>
