/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/
/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
  -------------------------------------------------------------------*/
/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
@import "https://fonts.googleapis.com/css?family=Orbitron";
@import "https://fonts.googleapis.com/css?family=Open+Sans";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */
input[type='radio'] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -.7em;
}

sub {
  bottom: -.25em;
}

/* 1.2. Clear Fix
========================================================================== */
.cf:before,
.cf:after {
  display: table;
  content: " ";
  clear: both;
}

.cf {
  *zoom: 1;
}

/* 1.3. Font class declaration
========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */
.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}

/* Author - Pravin Chukkala */
/* CSS Code Cop Properties Indexing For Using in Mixin's */
/*======================================================================================
1. Header Styling
========================================================================================*/
.container {
  width: 100%;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
}

header {
  border-bottom: 1px solid #999;
  background-color: #fff;
  opacity: 0.9;
}

h1 {
  padding: 20px 0;
  display: inline-block;
}
h1 a {
  display: block;
}

nav {
  padding: 20px 0;
  float: right;
}
nav ul li {
  margin-left: 2vw;
  display: inline-block;
}
nav ul li a {
  color: #000;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.3s;
}
nav ul li a:hover {
  color: #666;
}

/*font style*/
.wrapper .rules {
  width: 55%;
  display: inline-block;
  vertical-align: top;
  border-right: 1px solid #a3a3a3;
}
.wrapper .rules li {
  color: #0e0e0e;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  font-family: "Open Sans";
  list-style: none;
  margin-left: 15px;
}
.wrapper .rules .web {
  margin: 20px auto 10px auto;
  display: inline-block;
  color: red;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  font-family: "Open Sans";
}
.wrapper .rules h2 {
  color: #0e0e0e;
  font-weight: 700;
  font-size: 38px;
  line-height: 50px;
  font-family: "Open Sans";
  margin-top: 30px;
  text-align: center;
}
.wrapper .login-section {
  width: 40%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
.wrapper .login-section .login {
  margin-top: 30px;
  display: block;
  color: #0e0e0e;
  font-weight: 700;
  font-size: 38px;
  line-height: 50px;
  font-family: "Open Sans";
}

.details {
  text-align: left;
}
.details .input-box {
  width: 80%;
  display: block;
  vertical-align: top;
  padding: 8px 10px 8px 12px;
  margin: 10px auto 20px auto;
}
.details .btn {
  width: 85%;
  display: block;
  vertical-align: top;
  padding: 11px 14px 13px 27px;
  margin: 4px auto 13px auto;
  border-radius: 0px;
  border: 0;
  position: relative;
  background-color: #00a1f1;
  color: white;
  font-weight: 400;
  font-size: 19px;
  line-height: 19px;
  font-family: "Open Sans";
}

#error {
  margin: 0px 0px 0px 34px;
  color: red;
  font-weight: 400;
  font-size: 19px;
  line-height: 19px;
  font-family: "Open Sans";
}

/* Animation properties */
/* Keyframes */
@keyframes star {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes byline {
  0% {
    transform: translateZ(5em);
  }
  50% {
    transform: translateZ(2em);
  }
  100% {
    transform: translateZ(1em);
  }
}
@keyframes dev {
  0% {
    transform: translateX(-400px);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes pm {
  0% {
    transform: translateX(-700px);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes designer {
  0% {
    transform: translateX(-1200px);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes qa {
  0% {
    transform: translateX(-1500px);
  }
  100% {
    transform: translateX(0%);
  }
}
/*** Media queries for adjusting to different screen sizes ***/
@media only screen and (max-width: 600px) {
  .starwars-demo {
    font-size: 10px;
  }
}
@media only screen and (max-width: 480px) {
  .starwars-demo {
    font-size: 7px;
  }
}
footer {
  padding: 25px 0;
  background-color: #000;
}
footer h2 {
  width: 9%;
  margin: 0;
  display: inline-block;
}
footer h2 a {
  display: block;
}

.contact-nav-menu {
  width: 70%;
  display: inline-block;
  text-align: right;
}
.contact-nav-menu li {
  margin: 0 2%;
  display: inline-block;
}
.contact-nav-menu li a {
  display: block;
  color: #fff;
  font: 700 14px sans-serif;
  text-decoration: none;
}
.contact-nav-menu li a:hover {
  color: #f73d3d;
}

.social-menu {
  width: 20%;
  display: inline-block;
  text-align: right;
}
.social-menu li {
  margin: 0 2%;
  display: inline-block;
}
.social-menu li a {
  display: block;
  text-decoration: none;
}
.social-menu li a[title="Facebook"] {
  color: #3b5998;
}
.social-menu li a[title="Twitter"] {
  color: #55ACEE;
}
.social-menu li a:hover {
  color: #fff;
}

/*# sourceMappingURL=login.css.map */
