/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/
/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
  -------------------------------------------------------------------*/
/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
@import "https://fonts.googleapis.com/css?family=Orbitron";
@import "https://fonts.googleapis.com/css?family=Open+Sans";
@import "https://fonts.googleapis.com/css?family=Orbitron";
@import "https://fonts.googleapis.com/css?family=Open+Sans";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */
input[type='radio'] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -.7em;
}

sub {
  bottom: -.25em;
}

/* 1.2. Clear Fix
========================================================================== */
.cf:before,
.cf:after {
  display: table;
  content: " ";
  clear: both;
}

.cf {
  *zoom: 1;
}

/* 1.3. Font class declaration
========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */
.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}

/* Author - Pravin Chukkala */
/* CSS Code Cop Properties Indexing For Using in Mixin's */
/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/
/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
  -------------------------------------------------------------------*/
/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */
input[type='radio'] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -.7em;
}

sub {
  bottom: -.25em;
}

/* 1.2. Clear Fix
========================================================================== */
.cf:before,
.cf:after {
  display: table;
  content: " ";
  clear: both;
}

.cf {
  *zoom: 1;
}

/* 1.3. Font class declaration
========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */
.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}

.buddy-main .border, .buddy-main .buddy-description h2:after, .buddy-description .buddy-main h2:after, .buddy-main h3:after, .buddy-main .trainees h2:after {
  border-bottom: 1px solid #00a1f1;
  display: block;
  content: " ";
}

.buddy-main main {
  margin: 0px;
}

.title, .buddy-description h2, .buddy-main .trainees h2 {
  line-height: 1.5em;
  font-size: 1.5em;
  font-weight: 700;
}

.container {
  width: 100%;
}

.buddy-main header .wrapper,
.buddy-main .buddy .wrapper,
.buddy-main .buddy-description .wrapper,
.buddy-main .trainees .wrapper {
  width: 95%;
  margin: 0 auto;
}

.buddy {
  padding: 30px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.52);
}
.buddy .buddy-image {
  width: 180px;
  height: 180px;
  border: 1px solid rgba(0, 0, 0, 0.52);
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
}
.buddy .buddy-image a {
  display: block;
}
.buddy .buddy-image img {
  width: 100%;
}

.buddy-main .trainee-desc {
  width: 30%;
  margin: 5px 3.2%;
  display: inline-block;
  vertical-align: middle;
}
.buddy-main .trainee-desc .designation {
  width: 56%;
}
.buddy-main .trainee-desc .name {
  margin: 0 0 20px;
  display: block;
  font: 700 30px arial;
  text-transform: capitalize;
}
.buddy-main .trainee-desc .title, .buddy-main .trainee-desc .buddy-description h2, .buddy-description .buddy-main .trainee-desc h2, .buddy-main .trainee-desc .trainees h2, .buddy-main .trainees .trainee-desc h2 {
  width: 25.5%;
  display: inline-block;
  font: 700 15px arial;
}
.buddy-main .trainee-desc .title1 {
  padding-right: 2%;
  text-transform: capitalize;
  font: 700 15px arial;
}
.buddy-main .trainee-desc .desc {
  text-transform: capitalize;
}
.buddy-main .trainee-desc span {
  font: 15px arial;
}

.buddy-information {
  padding: 10px 0 0 30px;
  display: inline-block;
  vertical-align: top;
}
.buddy-information .buddy-name {
  line-height: 1.5em;
  font-family: Arial;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: capitalize;
}
.buddy-information span {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.5em;
  text-transform: capitalize;
}

.buddy-information p .developer {
  font-weight: normal;
}

.buddy-description {
  padding: 30px 0;
}
.buddy-description h2 {
  padding-bottom: 30px;
  margin-bottom: 0px;
  font-size: 2.5em;
  text-align: center;
  text-transform: uppercase;
  vertical-align: top;
}
.buddy-description h2:after {
  width: 70px;
  margin: 0 47%;
}
.buddy-description h3 {
  color: #00a1f1;
}

h3 {
  padding-bottom: 20px;
  font: 700 20px arial;
  text-align: center;
}
h3:after {
  width: 10%;
  padding-top: 5px;
  margin: 0 auto;
}

.buddy-achievements {
  width: 100%;
  display: flex;
  font-size: 1.2em;
}
.buddy-achievements .achievements {
  width: 37.5%;
  margin-right: 3.8%;
  padding: 23px 75px 35px 50px;
  border: 1px solid rgba(0, 0, 0, 0.52);
  border-radius: 7px;
  display: inline-block;
}
.buddy-achievements .achievements li {
  line-height: 1.5em;
}
.buddy-achievements .current {
  width: 37.5%;
  padding: 23px 75px 63px 50px;
  border: 1px solid rgba(0, 0, 0, 0.52);
  border-radius: 7px;
  display: inline-block;
  vertical-align: top;
}
.buddy-achievements .current li {
  line-height: 1.5em;
}

.buddy-main .specialization {
  width: 41.8%;
  padding: 23px 40px 30px 30px;
  border: 1px solid rgba(0, 0, 0, 0.52);
  border-radius: 7px;
  display: inline-block;
  vertical-align: middle;
  font-size: 1.2em;
  line-height: 1.5em;
}
.buddy-main .specialization .manager {
  width: 40%;
  display: inline-block;
  font-weight: 700;
  text-transform: capitalize;
}

.buddy-achievements ul {
  padding-top: 20px;
}
.buddy-achievements ul li {
  line-height: 1.5em;
}

.buddy-main .trainees {
  padding: 30px 0;
  text-align: center;
}
.buddy-main .trainees h2 {
  margin-bottom: 0px;
  font-size: 2.5em;
  text-align: center;
  text-transform: uppercase;
}
.buddy-main .trainees h2:after {
  width: 70px;
  margin: 0 auto;
}

.buddy-main .trainees ul {
  margin-top: 2.5%;
  font-family: Arial;
  text-align: center;
}
.buddy-main .trainees ul li {
  width: 25%;
  padding: 0 131px;
  display: inline-block;
}
.buddy-main .trainees ul li a {
  display: block;
  color: rgba(0, 0, 0, 0.52);
  cursor: pointer;
  text-decoration: none;
}
.buddy-main .trainees ul li a img {
  width: 75%;
  height: 235px;
  display: inline-block;
  border-radius: 50%;
}

.buddy-main .trainee-name {
  padding-top: 40px;
  display: block;
  font-weight: 700;
  text-transform: capitalize;
}

.buddy-main .trainee-name + span {
  display: block;
  line-height: 1.5em;
  text-transform: capitalize;
}

.body404, .head404, .eyes404, .leftarm404, .rightarm404, .chair404, .leftshoe404, .rightshoe404, .legs404, .laptop404 {
  background: url(../images/character-new.png) 0 0 no-repeat;
  width: 200px;
  height: 200px;
}

.newcharacter404, .torso404, .body404, .head404, .eyes404, .leftarm404, .rightarm404, .chair404, .leftshoe404, .rightshoe404, .legs404, .laptop404 {
  background-size: 750px;
  position: absolute;
  display: block;
}

.newcharacter404 {
  width: 400px;
  height: 800px;
  left: 50%;
  top: 115px;
  margin-left: -200px;
  opacity: 0.5;
  z-index: -1;
}

.torso404 {
  position: absolute;
  display: block;
  top: 138px;
  left: 0px;
  width: 389px;
  height: 252px;
  animation: sway 20s ease infinite;
  transform-origin: 50% 100%;
}

.body404 {
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  width: 389px;
  height: 253px;
}

.head404 {
  position: absolute;
  top: -148px;
  left: 106px;
  width: 160px;
  height: 194px;
  background-position: 0px -265px;
  transform-origin: 50% 85%;
  animation: headTilt 20s ease infinite;
}

.eyes404 {
  position: absolute;
  top: 92px;
  left: 34px;
  width: 73px;
  height: 18px;
  background-position: -162px -350px;
  animation: blink404 10s steps(1) infinite, pan 10s ease-in-out infinite;
}

.leftarm404 {
  position: absolute;
  top: 159px;
  left: 0;
  width: 165px;
  height: 73px;
  background-position: -265px -341px;
  transform-origin: 9% 35%;
  transform: rotateZ(0deg);
  animation: typeLeft 0.4s linear infinite;
}

.rightarm404 {
  position: absolute;
  top: 148px;
  left: 231px;
  width: 157px;
  height: 91px;
  background-position: -442px -323px;
  transform-origin: 90% 25%;
  animation: typeLeft 0.4s linear infinite;
}

.chair404 {
  position: absolute;
  top: 430px;
  left: 55px;
  width: 260px;
  height: 365px;
  background-position: -12px -697px;
}

.legs404 {
  position: absolute;
  top: 378px;
  left: 4px;
  width: 370px;
  height: 247px;
  background-position: -381px -443px;
}

.leftshoe404 {
  position: absolute;
  top: 591px;
  left: 54px;
  width: 130px;
  height: 92px;
  background-position: -315px -749px;
}

.rightshoe404 {
  position: absolute;
  top: 594px;
  left: 187px;
  width: 135px;
  height: 81px;
  background-position: -453px -749px;
  transform-origin: 35% 12%;
  animation: tapRight 1s linear infinite;
}

.laptop404 {
  position: absolute;
  top: 186px;
  left: 9px;
  width: 365px;
  height: 216px;
  background-position: -2px -466px;
  transform-origin: 50% 100%;
  animation: tapWobble 0.4s linear infinite;
}

@keyframes sway {
  0% {
    transform: rotateZ(0deg);
  }
  20% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(4deg);
  }
  45% {
    transform: rotateZ(4deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  70% {
    transform: rotateZ(0deg);
  }
  75% {
    transform: rotateZ(-4deg);
  }
  90% {
    transform: rotateZ(-4deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@keyframes headTilt {
  0% {
    transform: rotateZ(0deg);
  }
  20% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(-4deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  38% {
    transform: rotateZ(2deg);
  }
  42% {
    transform: rotateZ(2deg);
  }
  45% {
    transform: rotateZ(-4deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  70% {
    transform: rotateZ(0deg);
  }
  82% {
    transform: rotateZ(0deg);
  }
  85% {
    transform: rotateZ(4deg);
  }
  90% {
    transform: rotateZ(4deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@keyframes typeLeft {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(7deg);
  }
  75% {
    transform: rotateZ(-6deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@keyframes typeRight {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(-6deg);
  }
  75% {
    transform: rotateZ(7deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@keyframes tapWobble {
  0% {
    transform: rotateZ(-0.2deg);
  }
  50% {
    transform: rotateZ(0.2deg);
  }
  100% {
    transform: rotateZ(-0.2deg);
  }
}
@keyframes tapRight {
  0% {
    transform: rotateZ(0deg);
  }
  90% {
    transform: rotateZ(-6deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@keyframes blink404 {
  0% {
    background-position: -162px -350px;
  }
  94% {
    background-position: -162px -350px;
  }
  98% {
    background-position: -162px -368px;
  }
  100% {
    background-position: -162px -350px;
  }
}
@keyframes pan {
  0% {
    transform: translateX(-2px);
  }
  49% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
  99% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(-2px);
  }
}
/*======================================================================================
1. Header Styling
========================================================================================*/
.container {
  padding: 60px 0 0;
  width: 100%;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
}

header {
  border-bottom: 1px solid #999;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

h1 {
  padding: 20px 0;
  display: inline-block;
}
h1 a {
  display: block;
}

nav {
  padding: 20px 0;
  float: right;
}
nav ul li {
  margin-left: 2vw;
  display: inline-block;
}
nav ul li a {
  color: #000;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.3s;
}
nav ul li a:hover {
  color: #666;
}

/* Position Mixin Indexing n values
1 - position,
2 - bottom,
3 - left,
4 - right,
5 - top,
6 - z-index.
*/
.slider-heading {
  padding-top: 80px;
}
.slider-heading h2 {
  margin: 0;
  font: 700 46px arial;
  text-align: center;
  text-transform: uppercase;
}
.slider-heading h2:after {
  content: " ";
  width: 10%;
  margin: 0 auto;
  display: block;
  border-bottom: 3px solid #00a1f1;
}

#thumbnail-slider {
  box-sizing: border-box;
  width: 100%;
  max-width: 1024px;
  padding: 0;
  margin: 0 auto;
  /*center-aligned*/
  position: relative;
  -webkit-user-select: none;
}
#thumbnail-slider div.inner {
  /*the followings should not be changed */
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
}
#thumbnail-slider div.inner ul {
  /*the followings should not be changed */
  width: auto !important;
  height: auto !important;
  padding: 0;
  margin: 0;
  position: relative;
  left: 0;
  top: 0;
  float: left !important;
  list-style: none;
  white-space: nowrap;
}
#thumbnail-slider div.inner ul li {
  box-sizing: content-box;
  padding: 0;
  margin: 20px -30px 90px;
  display: inline-block;
  position: relative;
  backface-visibility: hidden;
  list-style: none;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  /*Note: The scale down will increase the spacing between slides. You can set negative margins as did above to roll back the spacing. */
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  text-align: center;
  vertical-align: middle;
}
#thumbnail-slider div.inner ul li.active {
  webkit-transform: scale(1.15);
  transform: scale(1.15);
  /*Note: if scale is greater than 1, the margin-top and margin-bottom in the selector "#thumbnail-slider li" must be set with a sufficient value so the enlarged image will be shown within the margins.*/
  background-color: transparent;
}
#thumbnail-slider .thumb {
  width: 100%;
  height: 100%;
  padding: 10px 0 0 0;
  display: block;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  text-decoration: none;
  cursor: inherit;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent), to(rgba(255, 255, 255, 0.4)));
  transition: all linear 0.4s;
  -webkit-transform: perspective(500px) translateX(1px) translateZ(-30px) rotateY(30deg);
  transform: perspective(500px) translateX(1px) translateZ(-30px) rotateY(30deg);
}
#thumbnail-slider .active .thumb {
  -webkit-transform: translateX(0px) translateZ(0px) rotateY(0deg);
  transform: translateX(0px) translateZ(0px) rotateY(0deg);
}
#thumbnail-slider li.active ~ li .thumb {
  -webkit-transform: perspective(500px) translateX(-1px) translateZ(-30px) rotateY(-30deg);
  transform: perspective(500px) translateX(-1px) translateZ(-30px) rotateY(-30deg);
}

#thumbnail-slider-pause-play {
  display: none;
}

/*.pause*/
#thumbnail-slider-prev, #thumbnail-slider-next {
  display: none;
}

.award {
  width: 100%;
  position: absolute;
  bottom: 80px;
}
.award span {
  display: block;
  font: 700 18px arial;
  color: #000;
}

.tr-score {
  box-sizing: border-box;
  width: 100%;
  margin-top: 60px;
}
.tr-score .slider_wrapper {
  position: relative;
  top: auto;
  background: url(../images/web_developer.jpg) no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}
.tr-score #image_slider {
  box-sizing: border-box;
  padding: 45px 0;
  margin: 0px;
  position: relative;
  float: left;
  list-style: none;
  overflow: hidden;
}
.tr-score #image_slider li {
  width: 1219px;
  height: auto;
  position: relative;
  float: left;
}

#slides {
  position: relative;
  height: 190px;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  animation: rotateslide 1s linear;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

@keyframes rotateslide {
  90% {
    background-color: black;
  }
  100% {
    transform: rotateY(30deg);
    background-color: white;
  }
}
.showing {
  opacity: 1;
  z-index: 2;
  animation: rotatex 1.2s linear;
  animation-delay: 4s;
  transform-origin: left;
}

@keyframes rotatex {
  40% {
    transform: scale(0.8);
  }
  90% {
    transform: translateX(-100%);
  }
  100% {
    opacity: 0;
  }
}
/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/
/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
  -------------------------------------------------------------------*/
/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */
input[type='radio'] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -.7em;
}

sub {
  bottom: -.25em;
}

/* 1.2. Clear Fix
========================================================================== */
.cf:before,
.cf:after {
  display: table;
  content: " ";
  clear: both;
}

.cf {
  *zoom: 1;
}

/* 1.3. Font class declaration
========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */
.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}

/* Author - Pravin Chukkala */
/* CSS Code Cop Properties Indexing For Using in Mixin's */
/*======================================================================================
1. Header Styling
========================================================================================*/
.container {
  padding: 60px 0 0;
  width: 100%;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
}

header {
  border-bottom: 1px solid #999;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

h1 {
  padding: 20px 0;
  display: inline-block;
}
h1 a {
  display: block;
}

nav {
  padding: 20px 0;
  float: right;
}
nav ul li {
  margin-left: 2vw;
  display: inline-block;
}
nav ul li a {
  color: #000;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.3s;
}
nav ul li a:hover {
  color: #666;
}

/* Position Mixin Indexing n values
1 - position,
2 - bottom,
3 - left,
4 - right,
5 - top,
6 - z-index.
*/
/*
1 - "",
2 - box-model,
3 - width,
4 - height,
5 - padding,
6 - border,
7 - border-radius,
8 - margin,
9 - display,
10 - overflow,
11 - position,
12 - z-index,
13 - bottom,
14 - left,
15 - right,
16 - top,



*/
/*====================================================================================
1. Main Styling
======================================================================================*/
.designation {
  margin: 10px 0 30px;
  text-align: center;
}
.designation > div {
  width: 20%;
  margin: 0 2%;
  display: inline-block;
}
.designation > div div {
  width: 100%;
  border-radius: 125px;
  margin: 0 0 20px 0;
  display: inline-block;
}
.designation > div span {
  display: block;
  font: 700 21px arial;
}

.banner {
  background: url(../images/IMG_20161014_120734.jpg) no-repeat;
  background-size: 100%;
}
.banner .wrapper {
  padding: 30px 0;
  border: 1px solid transparent;
  overflow: hidden;
}

.byline,
.star,
.developers {
  color: #333;
}

.star {
  max-width: 850px;
  margin: 0 auto;
  margin: 20px 0 40px;
  display: inline-block;
  font: 16px 'Open Sans', sans-serif;
  animation: star 2s linear;
}

.byline {
  margin: 30px 0 0 0;
  animation: byline 2s linear;
  transform: scale(1);
}

/* Make the 3D work on the container */
.starwars-demo {
  perspective: 800px;
  transform-style: preserve3d;
  -webkit-transform-style: preserve3d;
}

/* General styles and layout */
.starwars-demo {
  text-align: center;
}

.byline span {
  margin: 50px 0 0 0;
  display: inline-block;
}

img {
  width: 100%;
}

.byline,
.developers {
  text-align: center;
}

.byline {
  text-transform: uppercase;
  letter-spacing: 3px;
}

.developers {
  animation: dev 0.4s linear;
  animation-delay: 5s;
}

.project-manager {
  animation: pm 0.4s linear;
  animation-delay: 4s;
}

.designer {
  animation: designer 0.4s linear;
  animation-delay: 3s;
}

.qa {
  animation: qa 0.4s linear;
  animation-delay: 2.2s;
}

.developers,
.project-manager,
.designer,
.qa {
  animation-fill-mode: both;
  overflow: hidden;
}
.developers div,
.project-manager div,
.designer div,
.qa div {
  box-sizing: border-box;
  padding: 20%;
  background-color: rgba(0, 0, 0, 0.5);
}
.developers div img,
.project-manager div img,
.designer div img,
.qa div img {
  transition: all 0.8s linear;
}
.developers div img:hover,
.project-manager div img:hover,
.designer div img:hover,
.qa div img:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

h2 {
  margin: 0 0 100px;
  font: 700 46px arial;
  text-align: center;
  text-transform: uppercase;
}

.control_next,
.control_prev {
  margin: 170px 0 50px;
  color: #000;
  text-decoration: none;
}

.control_next {
  float: left;
}

.control_prev {
  float: right;
}

.slider-content {
  padding: 150px 0;
}
.slider-content h2:after {
  content: " ";
  width: 10%;
  margin: 0 auto;
  display: block;
  border-bottom: 3px solid #333;
}

.slider-class {
  text-align: center;
}
.slider-class li {
  box-sizing: border-box;
  width: 26%;
  margin: 2%;
  display: inline-block;
}
.slider-class li img {
  width: 75%;
  margin: 0 0 15px;
}
.slider-class li span {
  display: inline-block;
  font: 700 18px arial;
}
.slider-class li:nth-child(2) {
  transform: scale(1.5);
}

/*============================================================================
Trainee Page
============================================================================*/
button {
  outline: none;
}

.trainee-profile {
  padding: 0px 0 20px;
}
.trainee-profile #user-img {
  width: 180px;
  height: 180px;
  border: 1px solid black;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
}
.trainee-profile #user-img img {
  width: 100%;
}
.trainee-profile .tr-control {
  width: 46%;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: inline-block;
  vertical-align: top;
  perspective: 1200px;
  overflow: hidden;
}
.trainee-profile .tr-control h2 {
  margin: 20px 0;
  font: 700 25px arial;
  text-align: center;
  text-transform: capitalize;
}
.trainee-profile .tr-control .label {
  width: 20%;
  margin: 8px 2%;
  display: inline-block;
  font: 700 16px arial;
}
.trainee-profile .tr-control .mock {
  width: 75%;
  margin: 8px 0;
  display: inline-block;
  font: 16px arial;
  vertical-align: top;
}

.trainee-desc {
  width: 30%;
  margin: 20px 4% 0;
  display: inline-block;
  vertical-align: top;
}
.trainee-desc div {
  margin: 5px 0;
}
.trainee-desc .tr-name {
  display: block;
  margin: 0 0 20px;
  font: 700 30px arial;
}
.trainee-desc .title, .trainee-desc .buddy-description h2, .buddy-description .trainee-desc h2, .trainee-desc .buddy-main .trainees h2, .buddy-main .trainees .trainee-desc h2 {
  width: 25%;
  display: inline-block;
  font: 700 15px arial;
}
.trainee-desc span {
  font: 15px arial;
}

.progress-wrapper {
  width: 100%;
  height: 20px;
  margin: 15px 0px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.progress {
  height: 20px;
  margin-bottom: 15px;
  border-radius: 0px;
  position: absolute;
  text-align: center;
}

.test-score,
.feedbacks {
  width: 50%;
  margin: 40px -1px;
  display: inline-block;
}

.test-score {
  text-align: center;
}
.test-score .pie {
  width: 11vw;
  height: 11vw;
  margin: 5% 5%;
  display: inline-block;
  position: relative;
}
.test-score .pie .main-circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #333;
}
.test-score .pie .main-circle .circle {
  box-sizing: border-box;
  width: 90%;
  height: 90%;
  padding: 35% 0;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: white;
  transform: translateY(-50%) translateX(-50%);
}
.test-score .pie .main-circle .circle span {
  display: block;
  text-align: center;
}

.tr-score h4 {
  margin: 20px 0;
  font: 700 40px arial;
  text-align: center;
  text-transform: uppercase;
}
.tr-score h4:after {
  content: " ";
  width: 10%;
  border: 2px solid #00a1f1;
  margin: 0 auto;
  display: block;
}
.tr-score a {
  display: inline-block;
  position: absolute;
  top: 45%;
  padding: 5px 10px;
  border-radius: 5px;
  text-transform: capitalize;
  color: black;
  text-decoration: none;
}
.tr-score a img {
  width: 50px;
  height: 80px;
}
.tr-score a.previous {
  left: 0;
}
.tr-score a.next {
  right: 0;
}

.feedbacks {
  border-radius: 8px;
  text-align: center;
  color: #fff;
  vertical-align: top;
}
.feedbacks h5 {
  margin: 20px 0;
  font: 700 25px arial;
}
.feedbacks label {
  margin: 10px 0;
  display: inline-block;
  font: 16px arial;
  color: #e1e5e0;
}
.feedbacks .dev-area {
  width: 80%;
  margin: 2%;
  display: inline-block;
  text-align: left;
}
.feedbacks .dev-area .feed {
  box-sizing: border-box;
  width: 100%;
}
.feedbacks textarea {
  resize: none;
  width: 100%;
}

/* Animation properties */
/* Keyframes */
@keyframes star {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes byline {
  0% {
    transform: translateZ(5em);
  }
  50% {
    transform: translateZ(2em);
  }
  100% {
    transform: translateZ(1em);
  }
}
@keyframes dev {
  0% {
    transform: translateX(-400px);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes pm {
  0% {
    transform: translateX(-700px);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes designer {
  0% {
    transform: translateX(800px);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes qa {
  0% {
    transform: translateX(600px);
  }
  100% {
    transform: translateX(0%);
  }
}
/*** Media queries for adjusting to different screen sizes ***/
@media only screen and (max-width: 600px) {
  .starwars-demo {
    font-size: 10px;
  }
}
@media only screen and (max-width: 480px) {
  .starwars-demo {
    font-size: 7px;
  }
}
footer {
  padding: 25px 0;
  background-color: #000;
}
footer h2 {
  width: 9%;
  margin: 0;
  display: inline-block;
}
footer h2 a {
  display: block;
}

.contact-nav-menu {
  width: 70%;
  display: inline-block;
  text-align: right;
}
.contact-nav-menu li {
  margin: 0 2%;
  display: inline-block;
}
.contact-nav-menu li a {
  display: block;
  color: #fff;
  font: 700 14px sans-serif;
  text-decoration: none;
}
.contact-nav-menu li a:hover {
  color: #f73d3d;
}

.social-menu {
  width: 20%;
  display: inline-block;
  text-align: right;
}
.social-menu li {
  margin: 0 2%;
  display: inline-block;
}
.social-menu li a {
  display: block;
  text-decoration: none;
}
.social-menu li a[title="Facebook"] {
  color: #3b5998;
}
.social-menu li a[title="Twitter"] {
  color: #55ACEE;
}
.social-menu li a:hover {
  color: #fff;
}

.rr-animation {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.img_up:nth-child(1) {
  width: 100%;
  height: 700px;
  animation: _left 35s infinite;
  opacity: 0;
  position: absolute;
  animation-fill-mode: forwards;
}

.img_up:nth-child(2) {
  width: 100%;
  height: 700px;
  animation: _left1 35s infinite;
  position: absolute;
  animation-fill-mode: forwards;
}

.img_up:nth-child(3) {
  width: 100%;
  height: 700px;
  animation: _left2 35s infinite;
  position: absolute;
  animation-fill-mode: forwards;
}

.img_up:nth-child(4) {
  width: 100%;
  height: 700px;
  animation: _left3 35s infinite forwards;
  position: absolute;
}

@keyframes _left {
  0% {
    opacity: 1;
    left: -900px;
  }
  7% {
    opacity: 0.8;
    left: 0px;
  }
  23% {
    opacity: 0.8;
    left: 0px;
  }
  30% {
    opacity: 0.8;
    left: 900px;
  }
  100% {
    opacity: 0;
    right: 900px;
  }
}
@keyframes _left1 {
  0% {
    opacity: 1;
    left: -900px;
  }
  23% {
    left: -900px;
  }
  30% {
    opacity: 0.8;
    left: 0px;
  }
  48% {
    opacity: 0.8;
    left: 0px;
  }
  55% {
    opacity: 0.8;
    left: 900px;
  }
  100% {
    opacity: 0.8;
    left: 900px;
  }
}
@keyframes _left2 {
  0% {
    opacity: 1;
    left: -900px;
  }
  48% {
    opacity: 0.8;
    left: -900px;
  }
  55% {
    opacity: 0.8;
    left: 0px;
  }
  73% {
    opacity: 0.8;
    left: 0px;
  }
  80% {
    opacity: 0.8;
    left: 900px;
  }
  100% {
    opacity: 0.8;
    left: 900px;
  }
}
@keyframes _left3 {
  0% {
    opacity: 1;
    left: -900px;
  }
  73% {
    opacity: 0.8;
    left: -900px;
  }
  80% {
    opacity: 0.8;
    left: 0px;
  }
  100% {
    opacity: 0.8;
    left: 0px;
  }
}
.face1,
.face2,
.face3,
.face4,
.face5,
.face6 {
  overflow: hidden;
}

.rr-animation:hover .img_up:nth-child(1) {
  -webkit-animation-play-state: paused;
}
.rr-animation:hover .img_up:nth-child(2) {
  -webkit-animation-play-state: paused;
}
.rr-animation:hover .img_up:nth-child(3) {
  -webkit-animation-play-state: paused;
}
.rr-animation:hover .img_up:nth-child(4) {
  -webkit-animation-play-state: paused;
}

.stage {
  display: block;
  margin-left: 190px;
  margin-top: 75px;
}

@-webkit-keyframes spincube {
  from,to {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    -webkit-transform: rotateY(-90deg);
  }
  33% {
    -webkit-transform: rotateY(-90deg) rotateZ(90deg);
  }
  50% {
    -webkit-transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    -webkit-transform: rotateY(-270deg) rotateX(90deg);
  }
  83% {
    -webkit-transform: rotateX(90deg);
  }
}
@keyframes spincube {
  from,to {
    -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    -moz-transform: rotateY(-90deg);
    -ms-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
  }
  33% {
    -moz-transform: rotateY(-90deg) rotateZ(90deg);
    -ms-transform: rotateY(-90deg) rotateZ(90deg);
    transform: rotateY(-90deg) rotateZ(90deg);
  }
  50% {
    -moz-transform: rotateY(-180deg) rotateZ(90deg);
    -ms-transform: rotateY(-180deg) rotateZ(90deg);
    transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    -moz-transform: rotateY(-270deg) rotateX(90deg);
    -ms-transform: rotateY(-270deg) rotateX(90deg);
    transform: rotateY(-270deg) rotateX(90deg);
  }
  83% {
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    transform: rotateX(90deg);
  }
}
.cubespinner {
  -webkit-animation-name: spincube;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 12s;
  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 60px 60px 0;
  -moz-transform-origin: 60px 60px 0;
  -ms-transform-origin: 60px 60px 0;
  transform-origin: 60px 60px 0;
}

.cubespinner div {
  width: 120px;
  height: 120px;
  border: 1px solid #ccc;
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  font-size: 100px;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
  line-height: 120px;
  text-align: center;
}

.cubespinner .face1 {
  -webkit-transform: translateZ(60px);
  -moz-transform: translateZ(60px);
  -ms-transform: translateZ(60px);
  transform: translateZ(60px);
}

.cubespinner .face2 {
  -webkit-transform: rotateY(90deg) translateZ(60px);
  -moz-transform: rotateY(90deg) translateZ(60px);
  -ms-transform: rotateY(90deg) translateZ(60px);
  transform: rotateY(90deg) translateZ(60px);
}

.cubespinner .face3 {
  -webkit-transform: rotateY(90deg) rotateX(90deg) translateZ(60px);
  -moz-transform: rotateY(90deg) rotateX(90deg) translateZ(60px);
  -ms-transform: rotateY(90deg) rotateX(90deg) translateZ(60px);
  transform: rotateY(90deg) rotateX(90deg) translateZ(60px);
}

.cubespinner .face4 {
  -webkit-transform: rotateY(180deg) rotateZ(90deg) translateZ(60px);
  -moz-transform: rotateY(180deg) rotateZ(90deg) translateZ(60px);
  -ms-transform: rotateY(180deg) rotateZ(90deg) translateZ(60px);
  transform: rotateY(180deg) rotateZ(90deg) translateZ(60px);
}

.cubespinner .face5 {
  -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px);
  -moz-transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px);
  -ms-transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px);
  transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px);
}

.cubespinner .face6 {
  -webkit-transform: rotateX(-90deg) translateZ(60px);
  -moz-transform: rotateX(-90deg) translateZ(60px);
  -ms-transform: rotateX(-90deg) translateZ(60px);
  transform: rotateX(-90deg) translateZ(60px);
}

main {
  margin-top: 50px;
}

#average {
  margin-bottom: 30px;
  font-size: 18px;
  text-align: center;
}

footer .fa {
  background-color: transparent;
}

.fa {
  background-color: white;
  border: none;
}

.fa-user:before,
.fa-power-off:before,
.fa-sign-in:before {
  margin: 4px;
}

.index main {
  margin-top: 0px;
}

.rules h2 {
  margin: 0px;
}

.rr-animation {
  width: 95%;
  margin: 0 auto;
}

.wrapper .rules {
  width: 55%;
  display: inline-block;
  vertical-align: top;
  border-right: 1px solid #a3a3a3;
}
.wrapper .rules li {
  color: #3d3d3d;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  font-family: "Open Sans";
  margin: 12px 24px 0px 30px;
}
.wrapper .rules .web {
  margin: 20px auto 10px auto;
  display: inline-block;
  color: #3d3d3d;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  font-family: "Open Sans";
}
.wrapper .rules h2 {
  color: #3d3d3d;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  font-family: "Open Sans";
  margin-top: 30px;
  text-align: center;
}
.wrapper .login-section {
  width: 40%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
.wrapper .login-section .login {
  margin: 27px auto 23px auto;
  display: block;
  color: #3d3d3d;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  font-family: "Open Sans";
}

.details {
  text-align: left;
}
.details .input-box {
  width: 80%;
  display: block;
  vertical-align: top;
  padding: 8px 10px 8px 12px;
  margin: 10px auto 20px auto;
}
.details .btn {
  width: 85%;
  display: block;
  vertical-align: top;
  padding: 11px 14px 13px 27px;
  margin: 4px auto 13px auto;
  border-radius: 0px;
  border: 0;
  position: relative;
  background-color: #00a1f1;
  color: white;
  font-weight: 400;
  font-size: 19px;
  line-height: 19px;
  font-family: "Open Sans";
}

#error {
  margin: 0px 0px 0px 34px;
  color: red;
  font-weight: 400;
  font-size: 19px;
  line-height: 19px;
  font-family: "Open Sans";
}

#circle-0 {
  background-color: rgba(255, 0, 0, 0.78);
}

#circle-1 {
  background-color: yellow;
}

#circle-2 {
  background-color: rgba(0, 128, 0, 0.74);
}

header {
  z-index: 10;
}

#progress,
#progress1,
#progress2 {
  width: 0%;
}

.rr-animation {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.img_up:nth-child(1) {
  width: 100%;
  height: 700px;
  animation: _left 35s infinite;
  opacity: 0;
  position: absolute;
  animation-fill-mode: forwards;
}

.img_up:nth-child(2) {
  width: 100%;
  height: 700px;
  animation: _left1 35s infinite;
  position: absolute;
  animation-fill-mode: forwards;
}

.img_up:nth-child(3) {
  width: 100%;
  height: 700px;
  animation: _left2 35s infinite;
  position: absolute;
  animation-fill-mode: forwards;
}

.img_up:nth-child(4) {
  width: 100%;
  height: 700px;
  animation: _left3 35s infinite forwards;
  position: absolute;
}

@keyframes _left {
  0% {
    opacity: 1;
    left: -900px;
  }
  7% {
    opacity: 0.8;
    left: 0px;
  }
  23% {
    opacity: 0.8;
    left: 0px;
  }
  30% {
    opacity: 0.8;
    left: 900px;
  }
  100% {
    opacity: 0;
    right: 900px;
  }
}
@keyframes _left1 {
  0% {
    opacity: 1;
    left: -900px;
  }
  23% {
    left: -900px;
  }
  30% {
    opacity: 0.8;
    left: 0px;
  }
  48% {
    opacity: 0.8;
    left: 0px;
  }
  55% {
    opacity: 0.8;
    left: 900px;
  }
  100% {
    opacity: 0.8;
    left: 900px;
  }
}
@keyframes _left2 {
  0% {
    opacity: 1;
    left: -900px;
  }
  48% {
    opacity: 0.8;
    left: -900px;
  }
  55% {
    opacity: 0.8;
    left: 0px;
  }
  73% {
    opacity: 0.8;
    left: 0px;
  }
  80% {
    opacity: 0.8;
    left: 900px;
  }
  100% {
    opacity: 0.8;
    left: 900px;
  }
}
@keyframes _left3 {
  0% {
    opacity: 1;
    left: -900px;
  }
  73% {
    opacity: 0.8;
    left: -900px;
  }
  80% {
    opacity: 0.8;
    left: 0px;
  }
  100% {
    opacity: 0.8;
    left: 0px;
  }
}
.face1,
.face2,
.face3,
.face4,
.face5,
.face6 {
  overflow: hidden;
}

.rr-animation:hover .img_up:nth-child(1) {
  -webkit-animation-play-state: paused;
}
.rr-animation:hover .img_up:nth-child(2) {
  -webkit-animation-play-state: paused;
}
.rr-animation:hover .img_up:nth-child(3) {
  -webkit-animation-play-state: paused;
}
.rr-animation:hover .img_up:nth-child(4) {
  -webkit-animation-play-state: paused;
}

.stage {
  display: block;
  margin-left: 190px;
  margin-top: 75px;
}

@-webkit-keyframes spincube {
  from,to {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    -webkit-transform: rotateY(-90deg);
  }
  33% {
    -webkit-transform: rotateY(-90deg) rotateZ(90deg);
  }
  50% {
    -webkit-transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    -webkit-transform: rotateY(-270deg) rotateX(90deg);
  }
  83% {
    -webkit-transform: rotateX(90deg);
  }
}
@keyframes spincube {
  from,to {
    -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    -moz-transform: rotateY(-90deg);
    -ms-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
  }
  33% {
    -moz-transform: rotateY(-90deg) rotateZ(90deg);
    -ms-transform: rotateY(-90deg) rotateZ(90deg);
    transform: rotateY(-90deg) rotateZ(90deg);
  }
  50% {
    -moz-transform: rotateY(-180deg) rotateZ(90deg);
    -ms-transform: rotateY(-180deg) rotateZ(90deg);
    transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    -moz-transform: rotateY(-270deg) rotateX(90deg);
    -ms-transform: rotateY(-270deg) rotateX(90deg);
    transform: rotateY(-270deg) rotateX(90deg);
  }
  83% {
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    transform: rotateX(90deg);
  }
}
.cubespinner {
  -webkit-animation-name: spincube;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 12s;
  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 60px 60px 0;
  -moz-transform-origin: 60px 60px 0;
  -ms-transform-origin: 60px 60px 0;
  transform-origin: 60px 60px 0;
}

.cubespinner div {
  width: 120px;
  height: 120px;
  border: 1px solid #ccc;
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  font-size: 100px;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
  line-height: 120px;
  text-align: center;
}

.cubespinner .face1 {
  -webkit-transform: translateZ(60px);
  -moz-transform: translateZ(60px);
  -ms-transform: translateZ(60px);
  transform: translateZ(60px);
}

.cubespinner .face2 {
  -webkit-transform: rotateY(90deg) translateZ(60px);
  -moz-transform: rotateY(90deg) translateZ(60px);
  -ms-transform: rotateY(90deg) translateZ(60px);
  transform: rotateY(90deg) translateZ(60px);
}

.cubespinner .face3 {
  -webkit-transform: rotateY(90deg) rotateX(90deg) translateZ(60px);
  -moz-transform: rotateY(90deg) rotateX(90deg) translateZ(60px);
  -ms-transform: rotateY(90deg) rotateX(90deg) translateZ(60px);
  transform: rotateY(90deg) rotateX(90deg) translateZ(60px);
}

.cubespinner .face4 {
  -webkit-transform: rotateY(180deg) rotateZ(90deg) translateZ(60px);
  -moz-transform: rotateY(180deg) rotateZ(90deg) translateZ(60px);
  -ms-transform: rotateY(180deg) rotateZ(90deg) translateZ(60px);
  transform: rotateY(180deg) rotateZ(90deg) translateZ(60px);
}

.cubespinner .face5 {
  -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px);
  -moz-transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px);
  -ms-transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px);
  transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px);
}

.cubespinner .face6 {
  -webkit-transform: rotateX(-90deg) translateZ(60px);
  -moz-transform: rotateX(-90deg) translateZ(60px);
  -ms-transform: rotateX(-90deg) translateZ(60px);
  transform: rotateX(-90deg) translateZ(60px);
}

/* Animation properties */
/* Keyframes */
@keyframes star {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes byline {
  0% {
    transform: translateZ(5em);
  }
  50% {
    transform: translateZ(2em);
  }
  100% {
    transform: translateZ(1em);
  }
}
@keyframes dev {
  0% {
    transform: translateX(-400px);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes pm {
  0% {
    transform: translateX(-700px);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes designer {
  0% {
    transform: translateX(800px);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes qa {
  0% {
    transform: translateX(600px);
  }
  100% {
    transform: translateX(0%);
  }
}
/*** Media queries for adjusting to different screen sizes ***/
@media only screen and (max-width: 600px) {
  .starwars-demo {
    font-size: 10px;
  }
}
@media only screen and (max-width: 480px) {
  .starwars-demo {
    font-size: 7px;
  }
}
footer {
  padding: 25px 0;
  background-color: #000;
}
footer h2 {
  width: 9%;
  margin: 0;
  display: inline-block;
}
footer h2 a {
  display: block;
}

.contact-nav-menu {
  width: 70%;
  display: inline-block;
  text-align: right;
}
.contact-nav-menu li {
  margin: 0 2%;
  display: inline-block;
}
.contact-nav-menu li a {
  display: block;
  color: #fff;
  font: 700 14px sans-serif;
  text-decoration: none;
}
.contact-nav-menu li a:hover {
  color: #f73d3d;
}

.social-menu {
  width: 20%;
  display: inline-block;
  text-align: right;
}
.social-menu li {
  margin: 0 2%;
  display: inline-block;
}
.social-menu li a {
  display: block;
  text-decoration: none;
}
.social-menu li a[title="Facebook"] {
  color: #3b5998;
}
.social-menu li a[title="Twitter"] {
  color: #55ACEE;
}
.social-menu li a:hover {
  color: #fff;
}

/*# sourceMappingURL=main.css.map */
